# Git LFS для больших файлов
*.glb filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text

# Текстовые файлы
*.md text
*.json text
*.ts text
*.tsx text
*.js text
*.css text
*.glb !text !filter !merge !diff
*.fbx !text !filter !merge !diff
*.zip !text !filter !merge !diff
